<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798276966676-9s73t6brpjkbr44q0q7e2219trg2d8ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798276966676-9s73t6brpjkbr44q0q7e2219trg2d8ha</string>
	<key>API_KEY</key>
	<string>AIzaSyAOuN-LmsPe1VbLHnzF8AmoWjLK-z2NVto</string>
	<key>GCM_SENDER_ID</key>
	<string>798276966676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rbespalov.NetologyDiplom</string>
	<key>PROJECT_ID</key>
	<string>netologydiplom-65679</string>
	<key>STORAGE_BUCKET</key>
	<string>netologydiplom-65679.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798276966676:ios:0eb0f10ece9a3da3d74a01</string>
</dict>
</plist>